*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #3E4144;
    background-color: #454546;
    margin-top: 20px;
}

p {
  font-size: 16px;
  font-weight: normal;
  color: #65727C;
  margin-bottom: 10px;
}
  
.cards-container {
    display: block;
  }

.card, .child-container-2 {
  padding: 25px;
  width: 95%;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 50px 0px 10px;
  }


.icon {
  width: 120px;
  border-radius: 6px;
  margin-top: 5px;
}


.card-user {
  padding: 0;
}


.image-head {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.child-container-2 {
  padding: 0;
}

.content{
  padding: 20px;
}



.learning {
  display: block;
  font-weight: bold;
  color: #FF9800;
  font-size: 15px;
}


.avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.avatar-img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

a:link,
a:visited {
  text-decoration: none;
  color: #0089c7;
}

@media (min-width: 574px) {
  .card, .child-container-2 {
    width: 95%;

    margin: 0 auto;
  }
  

  .child-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }

  .container {
    display: flex;
    width: 930px;
    gap: 10px;
    margin: 0 auto;
  }
}